body {
    font-weight: 400;
    /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    padding-top: 70px;
}

#back-to-top {
    box-shadow: 5px 5px 5px #888888; /* 设置阴影效果 */
    border-radius: 2px; /* 设置圆角 */
    position: fixed; /* 固定定位 */
    bottom: 100px; /* 设置距离底部的距离 */
    right: 20px; /* 设置距离右边的距离 */
    color: whitesmoke; /* 设置字体颜色 */
    background: #3ac57d; /* 设置背景颜色 */
    width: 50px; /* 设置宽度 */
    height: 50px; /* 设置高度 */
    text-align: center; /* 设置文本居中 */
}

#back-to-top i {
    font-size: 30px; /* 设置字体大小 */
    margin: 10px auto; /* 设置外边距 */
}


nav .navbar-brand {
    padding-top: 10px;
}

nav a img {
    height: 60px;
    display: inline-block;
    float:left;
}

nav a span {
    font-size: 17px;
}


nav .navbar-form {
    padding-top: 10px;
}

/* Navbar and footer (global) styling */
.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar {
    color: black;
    border-width: thin;
    -webkit-transition: .2s;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    background-color: white;
}

.navbar a {
    color: black;
}

.navbar-fixed-top .navbar-brand {
    /*padding: 0 15px;*/
}

.navbar-header .icon-bar {
    background-color: black;
}

.navbar-nav > li > .navbar-active {
    color: #E46E2E;
}

.navbar-scroll {
  background-color: white;
    animation-duration: 2s;
    animation-name: smooth;
    -moz-box-shadow: 1px 1px 1px #999;
    -webkit-box-shadow: 1px 1px 1px #999;
    box-shadow: 1px 1px 1px #999;
}


/*.navbar-logo {*/
    /*height: 35px;*/
/*}*/

.nav > li > a {
    font-size: 20px;
    padding: 12px 16px 10px;
}

.nav > li > a:hover {
    background-color: transparent;
    color: #E46E2E;
    -webkit-transition: .2s;
}

.nav > li > a:focus {
    background-color: white;
}

.nav > li > a:active {
    background-color: #F8F8F8;
}

.nav > li > a:visited {
    background-color: #F8F8F8;
}

.tab:hover {
    background-color: transparent;
    color: #E46E2E;
}

.footer {
    background-color: #979797;
}

.footer p {
    color: white;
    padding-top: 10px;
}

.footer li {
    color: white;
    display: inline-block;
    text-decoration: none;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer li::after {
    content:" |";
}

.footer li:last-of-type::after {
    content:"";
}

.footer-text {
    margin-left: 0;
    padding-left: 0;
}

hr {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid #fff;
}

.single_comment {
    margin-bottom: 20px;
    font-family: "Microsoft Yahei","微软雅黑",Arial,Helvetica,STHeiti,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.single_comment img {
    width:50px;
    height:50px;
    border-radius:50%;
    overflow:hidden;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.single_comment p {
    margin-bottom: 0;
}

.comment-content {
    border-bottom: 1px dashed lightgrey;
    border-left: 1px dashed #2d7da4;
    padding-bottom: 5px;
}






/* Initially hide the image */
.hover-effect .magic {
  display: none;
  position: absolute;
  top: 35px;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  border-radius: 5px;
  overflow: hidden;
}

/* When hovering over the .hover-effect, show the image with transition */
.hover-effect:hover .magic {
 display: block;
    transition: all 0.3s;
      animation: magic1 0.5s;
}

/* Keyframe animation for showing the image */
@keyframes magic1 {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Adjust the image width */
.magic img {
  width: 90%; /* Adjust the width as needed */
  height: auto;
      margin-bottom: 5px; /* Add margin between images */
}
